## Deliverable 3. Create a Travel Itinerary Map.

In [50]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [51]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/kkubi/Class Repo/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,22,Nikolskoye,RU,31.87,snow,59.7035,30.7861,Tourist House - Sablino
1,23,Verkhniy Baskunchak,RU,30.15,overcast clouds,48.2256,46.7217,Kombat
2,47,Narsaq,GL,28.62,light snow,60.9167,-46.0500,Sleep In Narsaq
3,62,Qaqortoq,GL,28.90,light snow,60.7167,-46.0333,Siniffik Inn
4,76,Pangnirtung,CA,23.67,snow,66.1451,-65.7125,Kilabuk Lodge

In [52]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
vacation_locations = vacation_df[["Lat", "Lng"]]
vacation_locations.head()

       Lat      Lng
0  59.7035  30.7861
1  48.2256  46.7217
2  60.9167 -46.0500
3  60.7167 -46.0333
4  66.1451 -65.7125

In [53]:
# 4a. Add a marker layer for each city to the map.
#get all the maximum temperatures
max_temp = vacation_df["Max Temp"]
max_temp.head()

0    31.87
1    30.15
2    28.62
3    28.90
4    23.67
Name: Max Temp, dtype: float64

In [54]:
# 4a. Add a marker layer for each city to the map.
#max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(vacation_locations, info_box_content=vacation_info)

heat_layer = gmaps.heatmap_layer(vacation_locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Kostomuksha")]
vacation_end = vacation_df.loc  [(vacation_df["City"] == "Kostomuksha")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Medvezhyegorsk")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Nikolskoye")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Nivala")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
58,629,Kostomuksha,RU,25.41,light snow,64.571,30.5767,U Mikhailicha

In [132]:
# Does work and is much easier than what I am about to do below
#start_lat = float(vacation_start['Lat'])
#start_lng = float(vacation_start['Lng'])
#start = (start_lat,start_lng)

(64.571, 30.5767)

In [136]:
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
start

(64.571, 30.5767)

In [133]:
start = vacation_start[['Lat','Lng']].to_numpy().tolist() 
start

[[64.571, 30.5767]]

In [159]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# df.index.tolist()
# All these yield a list for the coordinates. 
# [tuple(r) for r in df.to_numpy().tolist()]
# [tuple(r) for r in df[['a', 'b']].to_numpy()]
# [tuple(r) for r in vacation_start[['Lat','Lng']].to_numpy()]
# tuple([tuple(r) for r in vacation_start[['Lat','Lng']].to_numpy()])
# start = vacation_start[['Lat','Lng']].to_numpy().tolist() 
# start = [tuple(r) for r in vacation_start[['Lat','Lng']].to_numpy()]

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(64.571, 30.5767)
(64.571, 30.5767)
(62.9167, 34.4667)
(59.7035, 30.7861)
(63.9167, 24.9667)

In [160]:
tuple([stop1,stop2,stop3])

((62.9167, 34.4667), (59.7035, 30.7861), (63.9167, 24.9667))

In [161]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
#import datetime
##from datetime import datatime
#now = pd.datetime.now()

# Create the map
fig = gmaps.figure()

# List the waypoints (lat,lng)
waypoints = [stop1, stop2, stop3]

# Create the layer
#layer = gmaps.directions.Directions(start, end, waypoints=waypoint, optimize_waypoints=True,mode='driving',api_key=g_key,departure_time=now)
layer = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING')
#Add the layer
#fig.add_layer(layer)
fig.add_layer(layer)
# Display
fig

Figure(layout=FigureLayout(height='420px'))

In [124]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,629,Kostomuksha,RU,25.41,light snow,64.5710,30.5767,U Mikhailicha
1,377,Medvezhyegorsk,RU,30.13,snow,62.9167,34.4667,Solnechnyy
2,22,Nikolskoye,RU,31.87,snow,59.7035,30.7861,Tourist House - Sablino
3,460,Nivala,FI,30.18,overcast clouds,63.9167,24.9667,Hotelli Huiskankorpi / Aseman majatalo

In [125]:
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat      Lng
0  64.5710  30.5767
1  62.9167  34.4667
2  59.7035  30.7861
3  63.9167  24.9667

In [126]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
    <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
    <dt>City</dt><dd>{City}</dd>
    <dt>Country</dt><dd>{Country}</dd>
    <dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [127]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))